{% if content %}
  <div {{ attributes.addClass('three-column', 'container') }}>

    <div class="container">


      <div class="row">

        <div class="col-sm-12">
          <div>
            {{ content.main1}}
          </div>
        </div>

        <div class="col-md-6">
          <div>
            {{ content.col1}}
          </div>
        </div>

        <div class="col-md-6">
          <div>
            {{ content.col2 }}
          </div>
        </div>

        <div class="col-sm-12">
          <div>
            {{ content.main1}}
          </div>
        </div>

        <div class="col-md-6">
          <div>
            {{ content.col3}}
          </div>
        </div>
        <div class="col-md-6">
          <div>
            {{ content.col4 }}
          </div>
        </div>



    </div>

  </div>
{% endif %}
