<footer class="footer" role="contentinfo">
  <div class="valuta "><i class="fa fa-pencil"></i><a href="{{ valuta_link }}">{{ 'Evaluate this site'|t }}</a></div>
  <div class="container">

    <h4>Comune di Teulada</h4><h3>{{ site_slogan }}</h3>

    <div class="row footer-header footer-menus">
          <div class="col-md-3 footer-block title">{{ drupal_block('inevidenza') }}</div>
          <div class="col-md-3 footer-block">{{ drupal_block('footer1') }}</div>
          <div class="col-md-3 footer-block">{{ drupal_block('footer2') }}</div>
          <div class="col-md-3 footer-block">{{ drupal_block('footer3') }}</div>
    </div>

    <div class="row footer-header">
      <div class="col-md-9 footer-title">

        <h5>{{ 'Contacts'|t }}</h5>
        <div class="row">
          <div class="col-md-4 footer-block"><div class="footer-element">{{ drupal_view_argument('custom_content', 'machine_name', 'footer1') }}</div></div>
          <div class="col-md-4 footer-block"><div class="footer-element">{{ drupal_view_argument('custom_content', 'machine_name', 'footer2') }}</div></div>
          <div class="col-md-4 footer-block"><div class="footer-element">{{ drupal_view_argument('custom_content', 'machine_name', 'footer3') }}</div></div>
        </div>

      </div>
      <div class="col-md-3 footer-title">

        <h5>{{ 'Follow us'|t }}</h5>
        <div class="social footer-block">
          <a href="https://www.facebook.com/sardegnaimpresa"><i class="fa fa-facebook-official"></i></a>
          <a href="https://twitter.com/SardegnaImpresa"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/user/sardegnaimpresa"><i class="fa fa-youtube"></i></a>
        </div>

      </div>
    </div>

    {{ drupal_block('piedipagina') }}

  </div>
</footer>

<div class="menu-underlayer" id="overlayer"></div>
