{{ drupal_block('menu_hamburger') }}

<header id="mainheader">

  <div class="header-top">
    <div class="header-up container">
      <div class="header-top1 pull-left">
        <a href="http://www.regione.sardegna.it">
        <img src="{{ output.base_path }}/themes/si8/images/ras-bianco-png.svg" alt="Regione Autonoma della Sardegna" class="logo hidden-xs"/>
          <span class="ras hidden-xs">Regione Autonoma della Sardegna</span>
          <span class="ras ras-mobile visible-xs-block">Regione Autonoma<br>della Sardegna</span></a>

      </div>
       <div class="header-top2 pull-right">


       </div>

    </div>


  </div>

  <div class="header-main">
    <div class="hamburger-toggle pull-left"><i class="fa fa-bars"></i><span class="hidden-xs toggle-text">Menu</span></div>

    <div class="container">

      <div class="site-title pull-left">


        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><strong>Comune di Teulada</strong>
          <span class="subtitle hidden-xs">{{ site_slogan }}</span>
        </a>
      </div>

      <div class="header-right pull-right">
        <div class="icon-social">{{ 'Follow us'|t }}:
          <a href="https://www.facebook.com/Comune-di-Teulada-207144083432606/"><i class="fa fa-facebook-official"></i></a>
          <a href="https://twitter.com/teulada"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/user/comuneteulada"><i class="fa fa-youtube"></i></a>
        </div>

        <div class="ricerca">
          <button class="fa fa-search button js-form-submit form-submit btn-default btn visible-xs" id="edit-submit-ricerca-responsive"></button>
          {{ drupal_block('formespostoricercaricerca') }}
        </div>

      </div>

    </div>

  </div>

  <div class="header-down hidden-xs">
    {{ drupal_block('si8_main_menu') }}
  </div>

</header>
